In [11]:
!pip install pandas
!pip install numpy

Requirement already satisfied: pandas in c:\users\thandocalana\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\thandocalana\anaconda3\lib\site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\thandocalana\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\thandocalana\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\thandocalana\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\thandocalana\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: numpy in c:\users\thandocalana\anaconda3\lib\site-packages (2.2.3)

In [12]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\thandocalana\anaconda3\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\thandocalana\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [13]:
import pandas as pd

In [14]:
excel_file_path = '../data/Cert Sample.xlsx'
df = pd.read_excel(excel_file_path)
df.head()

,Date,Name,Certification Name,Technology,Status,Expiration Date,Expiration Date Indicator,Planned Exam Date,Validity (Years),Cost ($),Record Date,Last Updated,Latest Flag,Employment Status,Partner,Field7
0,2023-10-01,Azabenathi Pupuma,Alteryx Designer Core,Alteryx,Active,2026-06-27,Actual,NaT,2.0,0.0,2024-05-13,2024-07-09,1,Active,6.0,NaN
1,2023-10-01,Azabenathi Pupuma,AWS Cloud Practitioner,AWS,Active,2027-04-11,Actual,NaT,3.0,100.0,2024-02-26,2024-07-09,1,Active,0.0,NaN
2,2023-10-01,Azabenathi Pupuma,Salesforce Certified Tableau Desktop Foundations,Salesforce,Active,2035-12-05,Actual,NaT,10.0,75.0,2024-07-09,2025-09-23,1,Active,0.0,NaN
3,2023-10-01,Azabenathi Pupuma,"Alteryx Designer Cloud, Trifacta Classic Core",Alteryx,Active,2035-12-05,Actual,NaT,2.0,0.0,2024-09-16,2024-10-02,1,Active,6.0,NaN
4,2023-10-01,Azabenathi Pupuma,SnowPro Core,Snowflake,Active,2035-12-05,Actual,NaT,2.0,175.0,2024-09-16,2024-11-08,1,Active,2.0,NaN

In [15]:
duplicate_rows = df[df.duplicated()]
print(f"Number of duplicate rows: {duplicate_rows.shape[0]}")

if not duplicate_rows.empty:
    print("\nFirst 5 duplicate rows (if any):")
    display(duplicate_rows.head())

Number of duplicate rows: 0

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 382614 entries, 0 to 382613
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Date                       382614 non-null  datetime64[ns]
 1   Name                       382614 non-null  object
 2   Certification Name         382614 non-null  object
 3   Technology                 382614 non-null  object
 4   Status                     382614 non-null  object
 5   Expiration Date            382614 non-null  datetime64[ns]
 6   Expiration Date Indicator  382614 non-null  object
 7   Planned Exam Date          75633 non-null   datetime64[ns]
 8   Validity (Years)           355920 non-null  float64
 9   Cost ($)                   360369 non-null  float64
 10  Record Date                382614 non-null  datetime64[ns]
 11  Last Updated               382614 non-null  datetime64[ns]
 12  Latest Flag                382614 non-null  int64
 13  Employment Status          382614 non-null  object
 14  Partner                    360369 non-null  float64
 15  Field7                     0 non-null       float64
dtypes: datetime64[ns](5), float64(4), int64(1), object(6)
memory usage: 46.7+ MB

In [17]:
df.describe()

,Date,Expiration Date,Planned Exam Date,Validity (Years),Cost ($),Record Date,Last Updated,Latest Flag,Partner,Field7
count,382614,382614,75633,355920.000000,360369.000000,382614,382614,382614.000000,360369.00000,0.0
mean,2029-11-01 23:59:59.999999744,2027-08-28 16:27:54.418604288,2009-06-16 19:45:52.941177088,5.312500,47.530864,2024-12-20 15:04:11.162790656,2025-04-08 10:36:16.744186368,0.976744,1.82716,NaN
min,2023-10-01 00:00:00,1970-01-01 00:00:00,1970-01-01 00:00:00,2.000000,0.000000,2024-02-26 00:00:00,2024-07-02 00:00:00,0.000000,0.00000,NaN
25%,2026-10-17 00:00:00,2026-04-18 00:00:00,1970-01-01 00:00:00,2.000000,0.000000,2024-06-25 00:00:00,2024-07-10 00:00:00,1.000000,0.00000,NaN
50%,2029-11-02 00:00:00,2027-11-17 00:00:00,2025-10-30 00:00:00,3.000000,0.000000,2024-07-23 00:00:00,2025-09-01 00:00:00,1.000000,2.00000,NaN
75%,2032-11-18 00:00:00,2035-12-05 00:00:00,2026-01-27 00:00:00,10.000000,100.000000,2025-09-01 00:00:00,2025-09-17 00:00:00,1.000000,2.00000,NaN
max,2035-12-05 00:00:00,2036-02-27 00:00:00,2026-04-30 00:00:00,10.000000,200.000000,2025-10-10 00:00:00,2025-10-31 00:00:00,1.000000,6.00000,NaN
std,NaN,NaN,NaN,3.839256,69.788682,NaN,NaN,0.150715,2.24868,NaN

In [18]:
df.describe(include=['object'])

,Name,Certification Name,Technology,Status,Expiration Date Indicator,Employment Status
count,382614,382614,382614,382614,382614,382614
unique,15,26,5,5,2,2
top,Thembani Faleni,Alteryx Designer Core,Alteryx,Active,Actual,Active
freq,66735,48939,142368,184119,306981,355920

In [19]:
df.isnull().sum()

Date                              0
Name                              0
Certification Name                0
Technology                        0
Status                            0
Expiration Date                   0
Expiration Date Indicator         0
Planned Exam Date            306981
Validity (Years)              26694
Cost ($)                      22245
Record Date                       0
Last Updated                      0
Latest Flag                       0
Employment Status                 0
Partner                       22245
Field7                       382614
dtype: int64

In [20]:
df.nunique()

Date                         4449
Name                           15
Certification Name             26
Technology                      5
Status                          5
Expiration Date                44
Expiration Date Indicator       2
Planned Exam Date              12
Validity (Years)                3
Cost ($)                        6
Record Date                    25
Last Updated                   29
Latest Flag                     2
Employment Status               2
Partner                         3
Field7                          0
dtype: int64

In [21]:
display(df['Expiration Date Indicator'].unique())

array(['Actual', 'Projected'], dtype=object)

In [22]:
count_of_2_in_partner = df[df['Partner'] == 2].shape[0]
print(f"The value '2' appears {count_of_2_in_partner} times in the 'Partner' column.")

The value '2' appears 115674 times in the 'Partner' column.

In [23]:
# we drop Field7 and planned Exam date feature since they have more than 80% of the missing values.
df.drop(['Field7', 'Planned Exam Date'], axis=1, inplace=True)

In [24]:
display(df.head())

,Date,Name,Certification Name,Technology,Status,Expiration Date,Expiration Date Indicator,Validity (Years),Cost ($),Record Date,Last Updated,Latest Flag,Employment Status,Partner
0,2023-10-01,Azabenathi Pupuma,Alteryx Designer Core,Alteryx,Active,2026-06-27,Actual,2.0,0.0,2024-05-13,2024-07-09,1,Active,6.0
1,2023-10-01,Azabenathi Pupuma,AWS Cloud Practitioner,AWS,Active,2027-04-11,Actual,3.0,100.0,2024-02-26,2024-07-09,1,Active,0.0
2,2023-10-01,Azabenathi Pupuma,Salesforce Certified Tableau Desktop Foundations,Salesforce,Active,2035-12-05,Actual,10.0,75.0,2024-07-09,2025-09-23,1,Active,0.0
3,2023-10-01,Azabenathi Pupuma,"Alteryx Designer Cloud, Trifacta Classic Core",Alteryx,Active,2035-12-05,Actual,2.0,0.0,2024-09-16,2024-10-02,1,Active,6.0
4,2023-10-01,Azabenathi Pupuma,SnowPro Core,Snowflake,Active,2035-12-05,Actual,2.0,175.0,2024-09-16,2024-11-08,1,Active,2.0

In [25]:
partner_zero_rows = df[df['Partner'] == 2]
display(partner_zero_rows)

,Date,Name,Certification Name,Technology,Status,Expiration Date,Expiration Date Indicator,Validity (Years),Cost ($),Record Date,Last Updated,Latest Flag,Employment Status,Partner
4,2023-10-01,Azabenathi Pupuma,SnowPro Core,Snowflake,Active,2035-12-05,Actual,2.0,175.0,2024-09-16,2024-11-08,1,Active,2.0
7,2023-10-01,Azabenathi Pupuma,Alteryx Designer Advanced,Alteryx,Projected Expired,1972-01-01,Projected,2.0,0.0,2024-06-25,2025-10-17,1,Active,2.0
8,2023-10-01,Ben Brooker,Alteryx Designer Advanced,Alteryx,Active,2026-06-05,Actual,2.0,0.0,2024-07-09,2024-07-09,1,Active,2.0
11,2023-10-01,Ben Brooker,SnowPro Core,Snowflake,Active,2035-12-05,Actual,2.0,175.0,2024-05-13,2024-10-04,1,Active,2.0
12,2023-10-01,Ben Brooker,Alteryx Auto Insights Micro-Credential,Alteryx,Active,2035-12-05,Actual,2.0,0.0,2024-04-02,2025-06-27,1,Active,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382591,2035-12-05,Suzanne Edlmann,Alteryx Designer Advanced,Alteryx,Expired,2026-06-26,Actual,2.0,0.0,2024-03-04,2024-07-10,1,Active,2.0
382601,2035-12-05,Thembani Faleni,Alteryx Designer Advanced,Alteryx,Expired,2035-12-05,Actual,2.0,0.0,2024-04-02,2025-07-02,1,Active,2.0
382605,2035-12-05,Thembani Faleni,Snowflake Technical Sales Professional,Snowflake,Expired,2035-12-05,Actual,10.0,0.0,2025-10-10,2025-10-10,1,Active,2.0
382606,2035-12-05,Thembani Faleni,Snowflake Sales Professional,Snowflake,Expired,2035-12-05,Actual,10.0,0.0,2025-10-10,2025-10-10,1,Active,2.0
382611,2035-12-05,Thembani Faleni,SnowPro Core,Snowflake,Projected Expired,2027-11-30,Projected,2.0,175.0,2025-09-12,2025-10-31,1,Active,2.0

In [26]:
df['Cost ($)'] = df['Cost ($)'].fillna(0)
print("Missing values in 'Cost ($)' after filling with 0:")
print(df['Cost ($)'].isnull().sum())

Missing values in 'Cost ($)' after filling with 0:
0

In [27]:
# Calculate 'validityNow' as the difference between 'Expiration Date' and the current date
current_date = pd.Timestamp.now()
df['validityNow'] = df['Expiration Date'] - current_date

display(df.head())

,Date,Name,Certification Name,Technology,Status,Expiration Date,Expiration Date Indicator,Validity (Years),Cost ($),Record Date,Last Updated,Latest Flag,Employment Status,Partner,validityNow
0,2023-10-01,Azabenathi Pupuma,Alteryx Designer Core,Alteryx,Active,2026-06-27,Actual,2.0,0.0,2024-05-13,2024-07-09,1,Active,6.0,149 days 09:58:11.506187
1,2023-10-01,Azabenathi Pupuma,AWS Cloud Practitioner,AWS,Active,2027-04-11,Actual,3.0,100.0,2024-02-26,2024-07-09,1,Active,0.0,437 days 09:58:11.506187
2,2023-10-01,Azabenathi Pupuma,Salesforce Certified Tableau Desktop Foundations,Salesforce,Active,2035-12-05,Actual,10.0,75.0,2024-07-09,2025-09-23,1,Active,0.0,3597 days 09:58:11.506187
3,2023-10-01,Azabenathi Pupuma,"Alteryx Designer Cloud, Trifacta Classic Core",Alteryx,Active,2035-12-05,Actual,2.0,0.0,2024-09-16,2024-10-02,1,Active,6.0,3597 days 09:58:11.506187
4,2023-10-01,Azabenathi Pupuma,SnowPro Core,Snowflake,Active,2035-12-05,Actual,2.0,175.0,2024-09-16,2024-11-08,1,Active,2.0,3597 days 09:58:11.506187

In [28]:
b = df[df['Name']].isin(['Thando Calana'])

b.head()

KeyError: "None of [Index(['Azabenathi Pupuma', 'Azabenathi Pupuma', 'Azabenathi Pupuma',\n       'Azabenathi Pupuma', 'Azabenathi Pupuma', 'Azabenathi Pupuma',\n       'Azabenathi Pupuma', 'Azabenathi Pupuma', 'Ben Brooker', 'Ben Brooker',\n       ...\n       'Thembani Faleni', 'Thembani Faleni', 'Thembani Faleni',\n       'Thembani Faleni', 'Thembani Faleni', 'Thembani Faleni',\n       'Thembani Faleni', 'Thembani Faleni', 'Tumelo Lottering',\n       'Tumelo Lottering'],\n      dtype='object', length=382614)] are in the [columns]"